.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

#wrapper{
  min-height: 100%;
  position: relative;
}
#table {
  /*border-radius: 15px 15px 0px 0px;*/
  margin: 0 auto;
  width: 1160px;
  height: 650px;
  background-color: white;
  padding: 10px;
}
#menu{
  margin: 0 auto;
  width: 360px;
  height: 700px;
  padding: 0;
  vertical-align: top;
}
#not-menu{
  height: 700px;
  padding: 0;
  vertical-align: top;
}

#tree{
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #F5FBEF;
}
body{
  background-color: #748B75;

}
form{
  text-align: center;
  color: #503D42;
}
h1{
  margin: 0;
  color: #84C318;
  text-shadow: 2px 0 0 #503D42, -2px 0 0 #503D42, 0 2px 0 #503D42, 0 -2px 0 #503D42, 1px 1px #503D42, -1px -1px 0 #503D42, 1px -1px 0 #503D42, -1px 1px 0 #503D42;
}

.ng-binding{
  width: 1160px;
}

/*
#F5FBEF
#92AD94
#748B75
#503D42
#84C318
*/
