.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

#wrapper{
  min-height: 100%;
  position: relative;
}
#table {
  /*border-radius: 15px 15px 0px 0px;*/
  margin: 0 auto;
  width: 1160px;
  height: 650px;
  background-color: white;
}
#menu{
  width: 360px;
}
body{
  background-color: #878f99;
}
